:root {
  --azul: #0D0628;
  --vermelho: #7A0000;
  --bege: #FAF2E4;
  --cinza: #E6E6E6;
  --fonte-principal: "Raleway", sans-serif;
  --fonte-suporte: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-family: var(--fonte-principal);
}

.cabecalho {
  width: 100vw;
  background-color: var(--azul);
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.cabecalho img {
  height: 90px;
}

.navegacao {
  background-color: var(--azul);
  color: white;
  width: 20vw;
  height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu ul {
  list-style: none;
  width: 100%;
}

.menu li {
  margin-bottom: 15px;
  width: 200px;
}

.menu a {
  text-decoration: none;
  color: var(--azul);
  background-color: white;
  padding: 12px 20px;
  border-radius: 12px;
  font-weight: 600;
  transition: all 0.3s ease;
  display: block;
  text-align: center;
}

.menu a:hover {
  background-color: rgb(178, 180, 209);
}

.conteudo_principal {
  width: 60vw;
  background-color: white;
  overflow-y: auto;
  text-align: justify;
}
/*ESTILO DO MAPA*/
#map {
    margin-top: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60vw;
    height: 100%;
}

.login_area {
  background-color: var(--azul);
  color: white;
  width: 20vw;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.login_area img {
  height: 90px;
  width: 90px;
  margin: 4px;
  border-radius: 100%;
}

.login_area form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login_area label {
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.login_area input {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  font-family: var(--fonte-suporte);
}

.login_area button {
  background-color: var(--vermelho);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: var(--fonte-suporte);
}

.login_area a {
  color: white;
  font-size: 0.9rem;
  margin-top: 10px;
}

.rodape {
  text-align: center;
  background-color: var(--azul);
  color: white;
  padding: 20px 0;
  font-size: 0.9rem;
  font-family: var(--fonte-suporte);
}

.rodape img {
  height: 120px;
}